Description=Python-based_Educational_Autopilot_System

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/PEAS
ExecStart=/usr/bin/nice -n -10 /usr/bin/python3 /home/pi/PEAS/launch.py
Restart=on-failure
RestartSec=1
KillMode=process

[Install]
WantedBy=multi-user.target
